default_language_version:
    python: python3.7
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        files: (databooks/|tests/)
  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort
        files: (databooks/|tests/)
  - repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        files: (databooks/|tests/)
        additional_dependencies:
          - flake8-docstrings==1.6.0
          - flake8-print==5.0.0
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.942
    hooks:
      - id: mypy
        files: databooks/
        additional_dependencies:
          - types-all==1.0.0
          - typer==0.3.2
          - rich==10.16.2
          - pydantic==1.9.0
          - GitPython==3.1.26
          - typing-extensions==4.0.1
          - tomli==2.0.1
  - repo: local
    hooks:
      - id: update-docs
        name: update-docs
        entry: cog -r
        language: python
        files: (.*\.md$)
        args: ["*/*/*.md", "*/*.md", "*.md"]
        always_run: true
        additional_dependencies:
          - cogapp==3.3.0
          - typer-cli==0.0.12
          - typer==0.3.2
          - rich==10.16.2
          - pydantic==1.9.0
          - GitPython==3.1.26
          - typing-extensions==4.0.1
          - tomli==2.0.1
